<h1 class="h2 d-inline-block align-middle">Posts by
  <span class="badge badge-primary"><%= "#{@user.fname} #{@user.lname}" %></span>
</h1>
<hr class="mb-4">

<div class="row">
  <% @posts.each do |p|%>
    <div class="col-6 mb-5">
      <div class="media">
        <svg class="mr-3 rounded-circle" width="100px" height="100px"
             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
             focusable="false" role="img" aria-label="Placeholder: Image cap">
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        <div class="media-body">
          <h5 class="mt-0"><%= p.title %></h5>
          <p><%= p.content %></p>
          <%= link_to "Show post", p %>
        </div>
      </div>
    </div>
  <% end %>
</div>
